<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">

  <% if (user) { %>
    <div>
      <h1 class="profile-header">
        <% if (user.givenName) { %> <%= user.givenName %><% } %>
      </h1>
    </div>

    <!-- <p><%- linkTo('See Courses', '/courses', {class: 'btn btn-primary btn-large'}) %></p>
    <p><%- linkTo('See Events', '/events', {class: 'btn btn-primary btn-large'}) %></p> -->

  <% } else { %>
    <h1>Hello, stranger</h1>
    <p>You're not authenticated with this app.</p>
    <p><%- linkTo('Click here to create a user account.', addUserPath) %></p>
    <p><%- linkTo('Click here to log in with Facebook or Twitter.', loginPath) %></p>
  <% } %>
</div>

<div class="span4 offset0 pull-left courses-list">
  <h2> Courses </h2>
  <% if (courses) { %>
    <% for (var i = 0, ii = courses.length; i < ii; i++) { %>
      <div class="row list-item span4 offset0 pull-left" id="course-<%= courses[i].id; %>">
        <div>
          <h4><%- linkTo(courses[i].name + " " + courses[i].courseNumber, coursePath(courses[i].id)); %></h4>
        </div>
      </div>
      <% } %>
    <% } %>
  </div>

<div class="span7 pull-right events-list">
  <h2> Events </h2>
  <% if (events) { %>
    <% for (var i = 0, ii = events.length; i < ii; i++) { %>
      <div class="row list-item span7 pull-right" id="event-<%= events[i].id; %>">
        <div>
          <h4><%- linkTo(geddy.date.strftime(events[i].date, "%m/%d") + " - " + events[i].courseHasName() + " " + events[i].courseHasNumber() +  " - " + events[i].name, eventPath(events[i].id)); %></h4>
        </div>
      </div>
      <% } %>
    <% } %>
  </div>