<div class="hero-unit">
  <h2 class="id"><%= media.id %></h2>
  <%- linkTo('Edit this media', editMediaPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', mediaPath(''), {class: 'btn pull-right'}); %>
</div>

<h2>Media Properties</h2>
<% for(var i in media) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= media[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>