<div class="hero-unit">
  <h2 class="id"><%= user.givenName + " " + user.familyName%></h2>
  <%- linkTo('Edit this user', editUserPath(params.id), {class: 'btn pull-right'}); %>
  <!-- <%- linkTo('Back to list', userPath(''), {class: 'btn pull-right'}); %> -->
</div>

<h2>Account Info</h2>
<div class="row list-item">
	<div class="span4">
		<h3 class="list-height">Username</h3>
	</div>
	<div class="span8">
		<h3 class="list-height"><%= user.username%></h3>
	</div>
</div>
<div class="row list-item">
	<div class="span4">
		<h3 class="list-height">Email</h3>
	</div>
	<div class="span8">
		<h3 class="list-height"><%= user.email%></h3>
	</div>
</div>
<div class="row list-item">
	<div class="span4">
		<h3 class="list-height">Active Since</h3>
	</div>
	<div class="span8">
		<h3 class="list-height"><%= geddy.date.strftime(user.activatedAt, "%m/%d/%Y")%></h3>
	</div>
</div>

<!-- <% for(var i in user) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= user[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%> -->

