<div id="newPost">
    <div>
        <form id="postForm">
			<textarea value="" type="text" id="content" name="content" style="margin-top: 10px; margin-bottom: 20px; width: 75%; font-size: 16pt" rows="3" placeholder="Compose a new Post..."></textarea>
			<textarea value="" name="attachments" id="attachments" style="margin-top: 10px; margin-bottom: 20px; width: 25%; font-size: 12pt" rows="1" placeholder="Attachments"></textarea><br/>
			<input type="button" onclick="submitPost()" value="Post" class="btn btn-primary" id="<%= event.id %>"/>
			<input type="button" onclick="attachMedia()" value="Attach media" class="btn btn-primary"/>
			<!-- <input type="button" onclick="" value="Post to Twitter" class="btn btn-secondary"/>
			<input type="button" onclick="" value="Post to Facebook" class="btn btn-secondary"/> -->
        </form>
        <script type="text/javascript">
			function submitPost() {
				var content = $("#content").val();
				var id = event.target.id;
				$.ajax({
					type: "POST",
					url: '/posts/addPost/',
					data: 
					{
						content: content,
						eventId: id
					},
					success: function(data)
					{
						$("#postView").html(data);
					}
				});
			}
			function attachMedia() {
				
			}
        </script>
    </div>
</div>
<div id="feedWarning">
	<h3>Posts</h3>
    <% if (!posts || posts.length == 0) { %>
    <div class="alert alert-danger alert-dismissable">
        <h4 class="alert-heading">Shucks! No posts here!</h4>
    </div>

    <% } else { %>
	    <div id="posts">
	            <% if (posts) {
	              posts.forEach(function(post) { %>
	                <div class="well">
	                    <h3>
	                        <small>Posted by <%- post.author.username %> in
	                            <%- post.event.name %> at
	                            <span><%- post.timestamp.toLocaleTimeString() %> on <%- post.timestamp.toLocaleDateString() %></span>
	                        </small><br />
	                        <%- post.content %>
	                    </h3>
	                </div>
	            <% });} %>
	    </div>
    <% } %>
</div>
