<!-- <div id="newPost">
	<div>
		<form id="postForm">
			<textarea value="" name="content" style="margin-top 10px; margin-bottom: 20px; width 90%; font-size: 16pt" rows="3" placeholder="Compose a new Post..."></textarea></br>
			<input type="button" onclick="submitPost()" value="Post" class="btn btn-primary"></input>
		</form>
        <script type="text/javascript">
			function submitPost() {
				$.ajax({
					type: "POST",
					url: '/posts/addPost/',
					var content = $("#postForm").serialize();
					var id = event.target.id;
					data: 
					{
						content: content,
						eventId: id,
						timestamp: null,
						author: null
					}
					success: function(data)
					{
						$("#postView").html(data);
					}
				});
			}
        </script>	
	</div>
</div>

<h3>Posts</h3>
<div id="posts">
	<% if (posts) {
	  posts.forEach(function(post) { %>
	    <div class="well">
	        <h3>
	            <small>Posted by <%- post.author.name %> in
	                <%- post.event.name %> at
	                <span><%- post.postdate.toLocaleTimeString() %> on <%- post.postdate.toLocaleDateString() %></span>
	            </small><br />
	            <%- post.content %>
	        </h3>
	    </div>
	<% });} %>
</div> -->

<div id="feedWarning">
    <% if (posts.length == 0) { %>
    <div class="alert alert-danger alert-dismissable">
        <h4 class="alert-heading">Shucks! No posts here!</h4>
    </div>
	<div id="newPost">
        <div>
            <form id="postForm">
				<textarea value="" name="content" style="margin-top: 10px; margin-bottom: 20px; width: 75%; font-size: 16pt"
                  rows="3" placeholder="Compose a new Post...">
				</textarea>
				<textarea value="" name="attachments" style="margin-top: 10px; margin-bottom: 20px; width: 25%; font-size: 12pt"
                  rows="1" placeholder="Attachments">
				</textarea></br>
				<input type="button" onclick="submitPost()" value="Post" class="btn btn-primary"/>
				<input type="button" onclick="attachMedia()" value="Attach media" class="btn btn-primary"/>
				<input type="button" onclick="" value="Post to Twitter" class="btn btn-secondary"/>
				<input type="button" onclick="" value="Post to Facebook" class="btn btn-secondary"/>
            </form>
            <script type="text/javascript">
				function submitPost() {
					$.ajax({
						type: "POST",
						url: '/posts/addPost/',
						var content = $("#postForm").serialize();
						var id = event.target.id;
						data: 
						{
							content: content,
							eventId: id,
							timestamp: null,
							author: null
						}
						success: function(data)
						{
							$("#postView").html(data);
						}
					});
				}
				function attachMedia() {
					
				}
            </script>
        </div>
    </div>
	
    <h3>Posts</h3>
	<div id="fake_posts">
		<div class="well">
			<h3>Class notes</br>
				<small>Posted by Rocky Balboa at 
					<span>8:38 PM on October 28, 1985</span>
				</small></br>
				<img src="http://www.empireonline.com/images/features/100greatestcharacters/photos/34.jpg" alt="User profile image" width="100" height="100">
				Lol just kicked Drago's ass #Merica
				<div id="media">
					<small>
						Link: <a href="http://www.bodybuilding.com/fun/rocky_workout.htm">How I did it</a>
					</small>
				</div>
			</h3>
		</div>
	</div>
	
    <div id="posts">
            <% if (posts) {
              posts.forEach(function(post) { %>
                <div class="well">
                    <h3>
                        <small>Posted by <%- post.author.name %> in
                            <%- post.event.name %> at
                            <span><%- post.postdate.toLocaleTimeString() %> on <%- post.postdate.toLocaleDateString() %></span>
                        </small><br />
                        <%- post.content %>
                    </h3>
                </div>
            <% });} %>
    </div>

    <% } else { %>


    <% } %>
</div>
