
<head lang="en">
  <meta charset="utf-8">
  <title>jQuery Location Picker</title>
  <link type="text/css" rel="stylesheet" href="/css/locationpicker.css" />
</head>





<div class="control-group">
  <label for="name" class="control-label">Name*</label>
  <div class="controls">
    <%- contentTag('input', event.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>

<div class="control-group">
  <label for="description" class="control-label">Description*</label>
  <div class="controls">
    <%- contentTag('input', event.description, {type:'text', class:'span6', name:'description'}) %>
  </div>
</div>

<div class="control-group">
  <label for="isPrivate" class="control-label">Private*</label>
  <div class="controls">
    <select name="isPrivate", class="span1">
      <% if(event.isPrivate) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>

<div class="control-group">
  <label for="date" class="control-label">Event Date*</label>
  <div class="controls">
    <%- contentTag('input', event.date, {type:'date', class:'span2', name:'date'}) %>
  </div>
</div>


<div class="control-group">
  <label for="time" class="control-label">Event Time*</label>
  <div class="controls">
    <%- contentTag('input', event.time, {type:'time', class:'span2', name:'time'}) %>
  </div>
</div>


<div class="control-group">
  <label for="duration" class="control-label">Duration (Minutes)</label>
  <div class="controls">
    <%- contentTag('input', event.duration, {type:'number', class:'span2', name:'duration'}) %>
  </div>
</div>

<div class="control-group">
  <label for="locationDescription" class="control-label">Location Description*</label>
  <div class="controls">
    <%- contentTag('input', event.locationDescription, {type:'text', class:'span6', name:'locationDescription'}) %>
  </div>
</div>

<!-- <div class="control-group">
  <label for="locationLat" class="control-label">Location Latitude</label>
  <div class="controls">
    <%- contentTag('input', event.locationLat, {type:'float', class:'span2', name:'locationLat'}) %>
  </div>
</div>

<div class="control-group">
  <label for="locationLong" class="control-label">Location Longitude</label>
  <div class="controls">
    <%- contentTag('input', event.locationLong, {type:'float', class:'span2', name:'locationLong'}) %>
  </div>
</div> -->

<!-- <div class="control-group">
  <label for="repeats" class="control-label">Repeat Type*</label>
  <div class="controls">
    <select name="repeats", class="span1">
      <option selected>none</option>
      <option>weekly</option>
      <option>monthly</option>
      
    </select>
  </div>
</div> -->

<!-- <div class="control-group">
  <label for="repeatDaysOfWeek" class="control-label">Repeat on what days?</label>
  <div class="controls">
    <form action="">
      <input type="checkbox" name="repeatDaysOfWeek" value=Sunday>Sunday<br>
      <input type="checkbox" name="repeatDaysOfWeek" value=Monday>Monday<br>
      <input type="checkbox" name="repeatDaysOfWeek" value=Tuesday>Tuesday<br>
      <input type="checkbox" name="repeatDaysOfWeek" value=Wednesday>Wednesday<br>
      <input type="checkbox" name="repeatDaysOfWeek" value=Thursday>Thursday<br>
      <input type="checkbox" name="repeatDaysOfWeek" value=Friday>Friday<br>
      <input type="checkbox" name="repeatDaysOfWeek" value=Saturday>Saturday<br>
    </form>
  </div>
</div> -->

<!-- <div class="control-group">
  <label for="repeatDayOfMonth" class="control-label">Repeat on what day of month?</label>
  <div class="controls">
    <%- contentTag('input', event.repeatDayOfMonth, {type:'number', class:'span2', name:'repeatDayOfMonth'}) %>
  </div>
</div>
 -->
<!-- <div class="control-group">
  <label for="numberOfReccurences" class="control-label">Number of Recurrences</label>
  <div class="controls">
    <%- contentTag('input', event.numberOfReccurences, {type:'number', class:'span2', name:'numberOfReccurences'}) %>
  </div>
</div> -->


<!-- This location picker code was found at https://code.google.com/p/locationpicker/
We used this to reuse the complicated process of finding a location by search or map -->
<div class="control-group">
  <label for="location" class="control-label">Select Location* </label>
  <div class="controls">
    <p>

      <%- contentTag('input', event.latlng, {type:'text', class:'span2 latlng', name:'latlng'}) %>
     
     <!--  <input class='latlng' type='text' id="latlng" value=/> -->
    </p>
    
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/jquery.locationpicker.js"></script>
    <script>
      $('.latlng').locationPicker();
      // var latlangArray = $('.latlng').split(",");
      // event.locationLong = latlangArray[0];
      // event.locationLat = latlangArray[1];
    </script>
  </div>
</div>

<div class="control-group">
  <label for="title" class="control-label">Assign Course*</label>
  <div class="controls">
    <%- selectTag(schedules, event.scheduleId, {
      name: 'scheduleId'
      , valueField: 'id'
      , textField: 'name'
      }); %>
  </div>
</div>
