<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      #map-canvas { height: 400px }
    </style>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7-Lbo8t0W1I9_Uo3logWrK3EsdkQzGVQ&sensor=false">
    </script>
    <script type="text/javascript">

      function initialize() {

        var myLatlng = new google.maps.LatLng( <%= event.locationLat %>, <%= event.locationLong %>);
        var mapOptions = {
          zoom: 12,
          center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<style>
    div.fb
{
width:475px;
padding:10px;
border:10px;
margin:0px;
border-style:solid;
border-color:#3B5998;
}

div.twitter
{
width:500px;
padding:10px;
border:10px;
margin:0px;
border-style:solid;
border-color:#30D8F0;
}

</style>
  </head>

<div class="hero-unit">
  <h2 class="name"><%- geddy.date.strftime(event.date, "%m/%d") + " - " + eventCourseName + " " + eventCourseNumber + " - " + event.name; %></h2>
  <%- linkTo('Edit this event', editEventPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', eventPath(''), {class: 'btn pull-right'}); %>
</div>

<h3>Event Description</h3>
<div class="row list-item">
  <div class="span12">
    <p class="description"><%= event.description %></p>
  </div>
</div>

<h3>Time</h3>
<div class="row list-item">
  <div class="span12">
    <p class="time"><%= event.time %></p>
  </div>
</div>

<h3>Create a new Post</h3>

<div id="postView">
  <%= partial("_postView", {event: event, events: events, posts: posts, selectedEvent: selectedEvent}); %>
</div>

<h3>Feed</h3>

<h3>Map:</h3>
<div id="map-canvas"/>
