<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', course.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="courseNumber" class="control-label">courseNumber</label>
  <div class="controls">
    <%- contentTag('input', course.courseNumber, {type:'number', class:'span2', name:'courseNumber'}) %>
  </div>
</div>
<div class="control-group">
  <label for="section" class="control-label">section</label>
  <div class="controls">
    <%- contentTag('input', course.section, {type:'number', class:'span2', name:'section'}) %>
  </div>
</div>
<div class="control-group">
  <label for="professor" class="control-label">professor</label>
  <div class="controls">
    <%- contentTag('input', course.professor, {type:'text', class:'span6', name:'professor'}) %>
  </div>
</div>
<div class="control-group">
  <label for="isPublic" class="control-label">Public Course*</label>
  <div class="controls">
    <select name="isPublic", class="span1">
      <% if(course.isPublic) { -%>
      <option>false</option>
      <option selected>true</option>
      <% } else { -%>
      <option selected>false</option>
      <option>true</option>
      <% } -%>
    </select>
  </div>
</div>

<div class="control-group">
  <label for="invitees" class="control-label">Enter User Id's to Invite (comma separated IDs)</label>
  <div class="controls">
    <%- contentTag('input', course.invitees, {type:'string', class:'span6', name:'invitees'}) %>
  </div>
</div>
